<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lliira.bookworm.core.persist.mapper.CategoryMapper">

  <cache />

  <resultMap type="CategoryData" id="CategoryMap">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="parentId" column="parent_id" />
    <result property="siblingIndex" column="sibling_index" />
    <result property="description" column="description" />
  </resultMap>

  <insert id="insert" parameterType="CategoryData" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    <![CDATA[
        INSERT INTO categories (name, parent_id, sibling_index, description)
        VALUES (#{name}, #{parentId}, #{siblingIndex}, #{description})
    ]]>
  </insert>

  <update id="update" parameterType="CategoryData">
    <![CDATA[
        UPDATE categories
        SET name = #{name}, parent_id = #{parentId}, sibling_index = #{siblingIndex}, 
            description = #{description}
        WHERE id = #{id}
    ]]>
  </update>

  <update id="updateParentToNull" parameterType="CategoryData">
    <![CDATA[
        UPDATE categories SET parent_id = NULL WHERE parent_id = #{id}
    ]]>
  </update>

  <delete id="delete" parameterType="int">
    <![CDATA[
        DELETE FROM categories WHERE id = #{id}
    ]]>
  </delete>

  <select id="select" parameterType="int" resultMap="CategoryMap">
    <![CDATA[
        SELECT * FROM categories WHERE id = #{id}
    ]]>
  </select>

  <select id="selectRoots" resultMap="CategoryMap">
    <![CDATA[
        SELECT * FROM categories WHERE parent_id IS NULL ORDER BY sibling_index ASC
    ]]>
  </select>

  <select id="selectByParent" parameterType="CategoryData" resultMap="CategoryMap">
    <![CDATA[
        SELECT * FROM categories WHERE parent_id = #{id} ORDER BY sibling_index ASC
    ]]>
  </select>

  <select id="selectByBook" parameterType="BookData" resultMap="CategoryMap">
    <![CDATA[
        SELECT c.* FROM categories c, category_books cb
        WHERE c.id = cb.category_id AND cb.book_id = #{id}
    ]]>
  </select>

  <select id="selectMaxRootIndex" resultType="float">
    <![CDATA[
        SELECT COALESCE(max(sibling_index), 0) FROM categories WHERE parent_id IS NULL
    ]]>
  </select>

  <select id="selectMaxSiblingIndex" parameterType="CategoryData" resultType="float">
    <![CDATA[
        SELECT COALESCE(max(sibling_index), 0) FROM categories WHERE parent_id = #{id}
    ]]>
  </select>

</mapper>